*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1440px;
}
  /*hedder*/
.container-top{
    max-width: 1440px;
    height: 410px;
    background-image: url(./images/Rectangle\ 8\ \(7\).png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
}
.herder-log{
    position: absolute;
    width: 78px;
    height: 71px;
    margin-top: 60px;
    margin-left: 114px;
}
.herder-log--line{
    width: 130px;
    height: 30px;
    margin-left: 192px;
    margin-top: 91px;
}
.herder-log-menu{
    width: 30px;
    height: 30px;
    display: none;
}
.herder-images--contact{
    width: 308.12px;
    height: 81.11px;
    margin-left: 407px;
    margin-top: -50px;
}
.herder-phone--text{
    display: block;
    width: 145px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-left: 807px;
    margin-top: -79px;
    margin-right: 491px;
}
.herder-phone--number{
    display: block;
    width: 185px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FBBA1D;
    margin: 4px 455px 0 800px;
}
.herder-button--brand{
   text-align: center; 
   text-decoration: none;
   padding: 8px 39px;
   color: black;
   background-color: #FBBA1D;
   width: 223px;
   height: 41px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   margin-top: -39px;
   margin-left: 1070px;
   display: block;
}
.herder-button--bottom1{ 
   text-decoration: none;
   text-align: center;
   display: block;
   color: black;
   background-color: white;
   padding: 7px 35px;
   width: 130px;
   height: 40px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   border: 1px solid #000000;
   margin-top: 60px;
   margin-left: 114px;
}
.herder-button--bottom2{ 
   text-decoration: none;
   text-align: center;
   display: block;
   color: black;
   background-color: white;
   padding: 7px 35px;
   width: 190px;
   height: 40px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   border: 1px solid #000000;
   margin-top: -40px;
   margin-left: 264px;
   white-space: nowrap;
}
.herder-button--bottom3{ 
   text-decoration: none;
   text-align: center;
   display: block;
   color: black;
   background-color: #FBBA1D;
   padding: 7px 35px;
   width: 135px;
   height: 40px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   border: 1px solid #000000;
   margin-top: -40px;
   margin-left: 474px;
}
.herder-button--bottom4{ 
   text-decoration: none;
   text-align: center;
   display: block;
   color: black;
   background-color: white;
   padding: 7px 35px;
   width: 150px;
   height: 40px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   border: 1px solid #000000;
   margin-top: -40px;
   margin-left: 624px;
}
.container-center{
    position: absolute;
    width: 1440px;
}
.herder-background--content1{
    width: 427px;
    height: 95px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-left: 113px;
    margin-top: 349px;
}
.herder-background--content2{
    width: 535px;
    height: 120px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    margin-top: 28px;
    margin-left: 113px;
}
.herder-backgroud--button1{ 
   text-decoration: none;
   text-align: center;
   display: block;
   padding: 8px 39px;
   color: black;
   background-color: #FBBA1D;
   width: 271px;
   height: 41px;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   border-radius: 30px;
   margin-top: 43px;
   margin-left: 113px;
   white-space: nowrap;
}
.herder-images--top_center{
    max-width: 100%;
    height: auto;
    margin-left: 807px;
    margin-top: -349px;
    margin-bottom: 100px;
}
.center-button--white{
    text-decoration: none;
    max-width: 1093px;
    height: 313px;
    background-color:#FFFFFF;
    border-radius: 81px;
    display: block;
    margin-top: 165px;
    margin-left: 162px;
    margin-right: 185px;
    padding-top: 78px;
    border: 1px solid rgba(0, 0, 0, 0.64);
}
.center-button--first1{
    display: block;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #646464;
    margin-left: 49px;
}
.center-button--first2{
    width: 240px;
    height: 33px;
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-left: 62px;
    margin-bottom: 78px;
}
.center-button--second1{
    width: 224px;
    height: 124px;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #646464;
    margin-left: 437px;
    margin-top: -235px;
    display: block;
}
.center-button--second2{
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: black;
    margin-left: 515px;
    margin-bottom: 78px;
}
.center-button--third1{
    display: block;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #646464;
    margin-left: 838px;
    margin-top: -127px;
}
.center-button--third2{
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: black;
    margin-left: 868px;
    margin-top: 6px;
}
.global-heading{
    max-width: 418px;
    height: 95px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 277px;
    margin-left: 113px;
}
.global-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    max-width: 432px;
    height: 189px;
    margin-left: 113px;
    margin-top: 41px;
}
.service-button--first{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 39px;
    color: black;
    background-color: #FBBA1D;
    width: 271px;
    height: 41px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
    white-space: nowrap;
    margin-left: 113px;
}
.service-images--first{
    width: 517px;
    height: 516px;
    display: block;
    margin-top: -448px;
    margin-left: 789px;
}
.global-heading3{
    max-width: 418px;
    height: 95px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 277px;
    margin-left: 113px;
}
.global-text3{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    max-width: 432px;
    height: 189px;
    margin-left: 113px;
    margin-top: 41px;
}
.service-button--first3{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 39px;
    color: black;
    background-color: #FBBA1D;
    width: 271px;
    height: 41px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
    white-space: nowrap;
    margin-left: 113px;
}
.service-images--first3{
    width: 517px;
    height: 516px;
    display: block;
    margin-top: -448px;
    margin-left: 789px;
}
.service-images--sencond{
    width: 517px;
    height: 516px;
    display: block;
    margin-top: 234px;
    margin-left: 113px;
}
.global-heading2{
    max-width: 418px;
    height: 95px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: -450px;
    margin-left: 831px;
}
.global-text2{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    max-width: 432px;
    height: 189px;
    margin-left: 831px;
    margin-top: 41px;
}
.service-button--second{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 39px;
    color: black;
    background-color: #FBBA1D;
    width: 271px;
    height: 41px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
    white-space: nowrap;
    margin-left: 831px;
}
